
/* BEGIN CUSTOM VARIABLES */
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Lalezar&family=Mulish:wght@400;700&display=swap');
$font-family-sans-serif: 'Mulish', sans-serif;
$headings-font-family: 'Lalezar', sans-serif;
$headings-font-weight: 400;

// TYPOGRAPHY
$custom-display-font-sizes: (
  11: 10rem,
  12: 9rem,
  13: 8rem,
  14: 7rem,
  15: 6rem
);

// COLORS
$badass:        #bada55;
$black:         #000;
$white:         #fff;
$dopePurple:    #aa00ff;
$dopePink:      #ff00bb;
$thornsRed:     #99242c;
$darkRed:       #841f28;

$custom-theme-colors: (
    'badass':           $badass,
    'black':            $black,
    'white':            $white,
    'dope-pink':        $dopePink,
    'dope-purple':      $dopePurple,
    'thorns-red':       $thornsRed,
    'dark-red':         $darkRed
);


/* IMPORT JUST VARIABLES, FUNCTIONS, AND MIXINS */
@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/mixins';


/* MAP MERGING */
$display-font-sizes: map-merge($display-font-sizes, $custom-display-font-sizes);
$theme-colors: map-merge($theme-colors, $custom-theme-colors);


/* IMPORT THE REST */
@import '../node_modules/bootstrap/scss/bootstrap';


/* BEGIN CUSTOM STYLES */
.navbar-brand {
    img {
        max-height: 32px;
    }
}

.nav-link {
    &.active {
        color: $thornsRed;
    }
}

main {
    min-height: calc(100vh - (60px + 146px));
    margin-top: 56px;
}

.game-card {
    height: 300px;
}
