<footer class="bg-light text-muted py-4 py-lg-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <p class="small mb-1">This website built and maintained by <a href="https://thatjeannie.me">Jeannie</a>.</p>
                <p class="small mb-1">Ad-free, tracker-free Thorns Schedule and Roster.</p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
