<footer class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="small mb-2">Portland Thorns Schedule, free of trackers and ads. Thanks for visiting. All times in Pacific Daylight Time, unless something is broken.</p>
                <p class="small mb-0">Submit feedback <a href="https://github.com/JSDesign/ptfcdb/issues">here</a>. PTFC DB built and maintained by <a href="https://thatjeannie.me">me</a>.</p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
