<footer class="bg-light text-muted py-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="small mb-2">Thorns Schedule. Forever free of trackers and ads.</p>
                <p class="small mb-0">PTFCDB built and maintained by <a href="https://thatjeannie.me">me</a>. Submit feedback <a href="https://github.com/JSDesign/ptfcdb/issues">here</a>.</p>
            </div>
        </div>
    </div>
</footer>

<script src="/js/bootstrap.bundle.min.js"></script>
