<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

<%- include('./partials/nav.ejs') %>

<main class="container-xxl py-4 py-xl-5 mt-5">
    <section class="text-center">
        <h1 class="display-1">Oh nooo!</h1>
        <p class="lead text-muted mb-0">The page you're trying to access doesn't exist here.</p>
        <p class="text-muted">Go <a href="/">home</a>, probably.</p>
    </section>
</main>

<%- include('./partials/footer.ejs') %>

</body>
</html>
